html {
  scroll-behavior: smooth;
  background-color: rgb(236, 232, 255);
  color: #2c2451;
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@media screen and (min-width: 1025px) {
  html {
    cursor: none;
  }

  a {
    cursor: none;
  }

  .mouse-trail .circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: #deab2b;
    position: fixed;
    z-index: 9999;
    border: none;
    pointer-events: none;
    opacity: 30%;
  }
}

body {
  margin: 0px;
}

.astronaut-wip {
  height: 200px;
  width: 200px;
}

body::-webkit-scrollbar {
  display: none;
}

.noScroll {
  overflow: hidden;
}

header {
  height: 0px;
  background-color: #2c2451;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 1s;
  z-index: 999;
}

.burgerMenu {
  display: block;
  position: absolute;
  padding: 0;
  width: 10svh;
  height: 10svh;
  border: none;
  background: transparent;
  cursor: pointer;
  top: 40px;
  right: 4%;
  z-index: 999;
  border-radius: 100%;
  background-color: #deab2b;
  justify-content: center;
}

.burgerBar {
  display: block;
  width: 50%;
  height: 8%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  margin: 25%;
}

.burgerBar::before,
.burgerBar::after {
  content: "";
  position: absolute;
  left: 25%;
  width: 50%;
  height: 8%;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.burgerBar::before {
  transform: translateY(-1.5svh);
}

.burgerBar::after {
  transform: translateY(1.5svh);
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  width: 0%;
  right: -100px;
  background: rgba(255, 255, 255, 0);
  transition: all 0.8s ease-in-out;
}

.menu div {
  display: flex;
  height: 20vh;
  white-space: nowrap;
  align-items: center;
}

.menuLink {
  background-color: white;
  border-bottom: 1px rgb(220, 220, 220) solid;
  border-collapse: collapse;
}
.menuTop {
  background-color: #2b2451cc;
  backdrop-filter: blur(5px);
}

.menu a {
  text-decoration: none;
  color: #2c2451;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

.menu a:hover {
  color: white;
  background-color: #2c2451;
  transition: all 0.2s ease-in-out;
}

.menu .menuTitle {
  position: absolute;
  font-size: 10svh;
  font-weight: 600;
  left: 10%;
  top: 2.5svh;
}

.showNav .menu {
  width: 100%;
  right: 0;
}

.showNav .burgerBar {
  width: 0;
  background: transparent;
}

.showNav .burgerBar::before {
  transform: rotate(45deg);
}
.showNav .burgerBar::after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 1025px) {
  .burgerMenu {
    top: 5svh;
    right: 10vw;
  }

  .menu .menuTitle {
    font-size: clamp(2.5rem, 1.1665rem + 5.0083vw, 4.375rem);
    top: 6svh;
  }
}

@media screen and (max-width: 430px) {
  .menu .menuTitle {
    font-size: 4svh;
    top: 7svh;
  }
}

@keyframes float {
  0% {
    transform: rotate(0deg) translateY(-10px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(-10px) rotate(-360deg);
  }
}

@keyframes moveplanet {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

.hero-header {
  height: 100svh;
  width: 100vw;
  top: 0;
  margin: 0;
  color: white;
  overflow: hidden;
  position: relative;
}

.hero-header-content {
  position: absolute;
  left: 32vw;
  top: 30svh;
  z-index: 5;
  background: #2c24516d;
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  color: white;
  padding: 3%;
  font-size: clamp(0.9375rem, 0.1042rem + 1.3021vw, 2.1875rem);
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.091);
}

.hero-header-content h1 {
  margin: 0;
}

.hero-header-content h3 {
  margin: 0;
  font-weight: 200;
  font-style: italic;
}

.hero-header-content hr {
  margin: 2svh 0 3svh;
  width: 40%;
}
.hero-header-content button {
  font-size: 20px;
  background: #2c2451;
  padding: 10px 30px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-right: 20px;
  border: none;
  color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.091);
  position: relative;
}

.hero-header-content .button-cv {
  background-color: #ffffff1a;
  border: 1px solid rgba(255, 255, 255, 0.091);
}

.hero-header-content button a {
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
  z-index: 10;
  display: inline-block;
  top: 0;
  left: 0;
}

.hero-header-content button:hover {
  background: #46397e;
  transition: ease-in-out 0.2s all;
  border: rgba(255, 255, 255, 0) 1px solid;
}

@media screen and (max-width: 746px) {
  .hero-header-content .button-cv {
    margin-top: 20px;
  }
}
.hero-header h1 {
  margin: 0;
}

.hero-header-bg {
  width: 100vw;
  height: 100svh;
  top: 0;
  z-index: 1;
  overflow: hidden;
  background-color: #2c2451;
}
.astronaut {
  background-image: url(ressources/astronaut_2.svg);
  height: 60svh;
  width: 60svh;
  position: absolute;
  top: 20%;
  left: 5vw;
  background-repeat: no-repeat;
  z-index: 4;
  transform: rotate(20deg);
  animation: float 7s linear infinite;
}

.planet-sand {
  height: 60svh;
  width: 60svh;
  position: absolute;
  top: 0%;
  left: 0%;
  margin-left: -15%;
  margin-top: -10%;
  z-index: 3;
  transform: rotate(130deg);
  animation: moveplanet 20s ease-in-out infinite;
}

.planet-earth {
  height: 100svh;
  width: 90svh;
  position: absolute;
  top: 0%;
  left: 0%;
  left: 75%;
  margin-bottom: -50%;
  z-index: 3;
  transform: rotate(-10deg);
  animation: moveplanet 13s ease-in-out infinite;
}

.planet-sun {
  height: 30svh;
  width: 25svh;
  position: absolute;
  left: 55%;
  top: -7%;
  z-index: 3;
  transform: rotate(-10deg);
  animation: moveplanet 25s ease-in-out infinite;
}

.planet-floor {
  width: 100%;
  position: absolute;
  z-index: 6;
  overflow: hidden;
  background-repeat: no-repeat;
  bottom: -10px;
}

.bg-stars {
  background-image: url(ressources/bg-stars.svg);
  background-repeat: repeat;
  width: 100svw;
  height: 100svh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.bg-twirl {
  background-image: url(ressources/bg_twirl.svg);
  width: 200%;
  height: 200%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
}

@media screen and (max-width: 1025px) {
  .hero-header-content {
    top: 20svh;
    font-size: clamp(1.15rem, -0.9912rem + 4.6693vw, 2rem);
    width: 50%;
    height: 50%;
    padding: 5%;
    left: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero-header-content h3 {
    margin-bottom: 10%;
  }
  .hero-header-content hr {
    display: none;
  }

  .astronaut {
    height: 50svh;
    width: 50svh;
    position: absolute;
    top: 40%;
    left: -10%;
    background-repeat: no-repeat;
    z-index: 4;
    transform: rotate(0deg);
  }
  .planet-sand {
    left: -20svh;
    top: -10svh;
  }

  .planet-sun {
    left: 50vw;
    top: -10svh;
  }
}

@media screen and (max-width: 430px) {
  .hero-header-content {
    left: 20%;
    height: 60%;
  }

  .hero-header-content button {
    font-size: 15px;
    margin-top: 2svh;
  }

  .astronaut {
    height: 50vw;
    width: 50vw;
    top: 70%;
  }

  .planet-sand {
    left: -40svh;
    top: 10svh;
  }

  .planet-sun {
    left: 20vw;
    top: -10%;
  }
}

.roller {
  display: flex;
  background: rgb(255, 255, 255);
  flex-direction: column;
  align-items: center;
  padding-bottom: 8svh;
  text-align: center;
}

.astronaut_conquest {
  display: none;
}
.roller-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: space-evenly;
  padding: clamp(5vw, 10svh) 5% 5% 5%;
}

@media screen and (max-width: 430px) {
  .roller-content {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}

.roller-section {
  margin: 30px;
  padding: 7svh 4.3svh;
  border: solid 1px #2c2451;
  border-radius: 16px;
  background-color: #2c2451;
}

.roller-section-legende {
  text-align: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1rem;
  color: white;
}

.roller-section-image {
  text-align: center;
  font-size: 10svh;
  color: white;
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .roller-content {
    justify-content: center;
    padding: 0%;
    margin: 80px 0px 150px;
  }

  .roller-section {
    margin: 0;
    background-color: rgb(182, 182, 182);
    border: 1px solid #2c245163;
    border-radius: 0px;
    padding: 0;
    height: 400px;
    width: 100px;
    display: flex;
    align-items: center;
    transition: flex-grow ease-in-out 0.5s;
  }

  .roller-section:hover {
    flex-grow: 0.3;
    transition: flex-grow ease-in-out 0.5s;
  }
  .roller-section-image {
    color: #2c2451;
    font-size: 30px;
  }
  .roller-section-legende {
    color: #2c2451;
    display: none;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 5svh 10svh;
}
@media screen and (min-width: 1025px) {
  .projects {
    position: relative;
  }
  .projects .astronaut_conquest {
    display: block;
    width: 120vw;
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, -90%);
    left: 50vw;
  }
}

.projects h1 {
  padding-bottom: clamp(5vw, 10svh);
  margin: 150px 0px 100px 0px;
}

.projects-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projects-content {
  position: relative;
  height: 10vh;
  width: 10vw;
  color: white;
  background-color: #2c2451;
  width: 300px;
  height: fit-content;
  margin: 5vh;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
  transition: all ease-in-out 0.5s;
}

.projects-content:hover {
  background-color: #46397e;
  transition: all ease-in-out 0.5s;
  animation: hover 3s infinite linear;
  box-shadow: 10px 15px 30px #2c245190;
  transform: scale(20%);
}

@keyframes hover {
  0% {
    transform: rotate(0deg) translateY(-3px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(-3px) rotate(-360deg);
  }
}

.projects-content .projects-content-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.projects-content-image {
  height: 20svh;
  width: 100%;
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.projects-content-image-portfolio {
  background-image: url(ressources/project-portfolio.png);
  background-size: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.projects-content-image-cs50x {
  background-image: url(ressources/project-cs50x.png);
  background-size: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.projects-content-image-cs50p-final {
  background-image: url(ressources/project-cs50p-final.png);
  background-size: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.projects-content-title {
  font-size: x-large;
  padding: 3% 10%;
}

.projects-content-description {
  font-size: medium;
  font-weight: 200;
  padding: 0% 10% 10% 10%;
}
.projects-content .projects-content-description {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.projects-content:hover .projects-content-description {
  max-height: fit-content;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.projects-content:hover .projects-content-image {
  filter: grayscale(0%);
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 1025px) {
  .projects-content .projects-content-description {
    opacity: 1;
  }

  .projects-content-image {
    filter: grayscale(0%);
    transition: all 0.5s ease-in-out;
  }
}

footer {
  background-color: #2c2451;
  color: white;
  height: 5svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projets-header {
  height: 30svh;
  background-image: url("../ressources/projets-header.png");
  background-size: cover;
  background-position: top 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 5svh;
}
